th {
    background-color: #fff
}

th.active {
    background-color: #f00
}

td {
    background-color: #884
}

td.active {
    background-color: #ee8
}

td.cmajor {
    background-color: #488
}

td.cmajor.active {
    background-color: #8ee
}

#runbutton {
    content: "Stopped"
}

#runbutton.active {
    content: "Running"
}
